:root {
  --linearBG: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --BitcoinOrange: #f7931a;
  --SoftOrange: #ffe9d5;
  --SecondaryBlue: #1a9af7;
  --SoftBlue: #e7f5ff;
  --Warm-Black: #201e1c;
  --Black: #282623;
  --Gray: #bababa;
  --Off-White: #faf8f7;
  --Just-White: #ffffff;
  --Gray-Benefit: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/*HEADER STYLES*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33rem;
  text-align: center;
  background: var(--linearBG);
}
header img {
  align-self: center;
  width: 18rem;
  height: 2.8rem;
  margin-top: 3rem;
}
header .header--title-container {
  width: 90%;
  min-width: 28rem;
  max-width: 90rem;
  margin-top: 4rem;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--Just-White);
  margin-bottom: 2.4rem;
}
.header--title-container h1:hover {
  text-shadow: 0px 0px 3px var(--Just-White);
}
.header--title-container p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Just-White);
  margin-bottom: 2.4rem;
}
.header--title-container .header--button {
  position: absolute;
  top: calc(100% - 2.8rem);
  left: calc(50% - 11.5rem);
  width: 23rem;
  height: 4.8rem;
  padding: 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  /*COLORS*/
  color: var(--Warm-Black);
  background-color: var(--Off-White);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.header--title-container .header--button:active {
  background-color: rgb(247, 207, 134);
}
.header--button span {
  display: inline-block;
  margin-left: 0.7rem;
  width: 1.3rem;
  height: 0.8rem;
  background-image: url("./assets/assets/icons/down-arrow.svg");
}

/*MAIN*/
main {
  width: 100%;
  height: auto;
  min-width: 30rem;
  background-color: var(--Off-White);
}

/*FIRST MAIN SECTION*/
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
}

main .main-exchange-container .background-img {
  width: 19.5rem;
  height: 19.5rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-image: url("./assets/assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-exchange-container--title {
  width: 90%;
  height: auto;
  min-width: 9rem;
  margin: 0 auto;
}
.main-exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.main-exchange-container--title p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #757575;
  margin-bottom: 3.5rem;
}

/*TABLE SECTION*/
.currency {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .currency_table {
  width: 70%;
  min-width: 30.5rem;
  max-width: 50rem;
  height: auto;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

/*TABLE TITLE*/
.currency_table--title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 1.5rem;
  color: var(--BitcoinOrange);
}
.currency_table--container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}
/*TABLE STYLE BACKGROUND*/
.currency_table--container table {
  width: 100%;
  height: 100%;
  background-color: var(--Off-White);
  border-radius: 15px;
  cursor: pointer;
}
.currency table:hover {
  box-shadow: 2px 2px 4px rgb(117, 117, 117);
}
.currency_table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--Gray);
  background-color: var(--Just-White);
}
.currency_table--container td:hover {
  color: black;
}
.currency_table--container td:active {
  background-color: rgb(247, 207, 134);
}
table .table-right {
  position: relative;
  color: #757575;
}

.table-right span {
  position: absolute;
  margin: 0.4rem 2rem;
  width: 1.3rem;
  height: 0.8rem;
  background-image: url("./assets/assets/icons/trending-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.table_ethereum-right span {
  position: absolute;
  margin: 0.4rem 2rem;
  width: 1.3rem;
  height: 0.8rem;
  background-image: url("./assets/assets/icons/trending-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*BORDERS TABLE TOP*/
.currency_table--container .table_top-left {
  border-radius: 15px 0 0 0;
}
.currency_table--container .table_top-right {
  border-radius: 0 15px 0 0;
}

/*BORDERS TABLE BOTTOM*/
.currency_table--container .table_bottom-left {
  border-radius: 0 0 0 15px;
}
.currency_table--container .table_bottom-right {
  border-radius: 0 0 15px 0;
}
/*UPDATE DIV*/
.update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  border-radius: 8px;
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  background-color: var(--SoftOrange);
}
.update:hover {
  background-color: var(--BitcoinOrange);
}

/*----------------------------TABLE COMISSIONS SECTION-----------------------*/
.currency_table--title-comissions {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 1.5rem;
  color: var(--SecondaryBlue);
}
.currency_table--container-comissions {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
}
.currency_table--container-comissions table {
  width: 100%;
  height: 100%;
  background-color: var(--Off-White);
  border-radius: 15px;
  cursor: pointer;
}
.currency_table--container-comissions td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--Gray);
  background-color: var(--Just-White);
}
.currency_table--container-comissions td:hover {
  color: black;
}
.currency_table--container-comissions td:active {
  background-color: rgb(161, 249, 252);
}
/*BORDERS TABLE TOP*/
.currency_table--container-comissions .table_top-left {
  border-radius: 15px 0 0 0;
}
.currency_table--container-comissions .table_top-right {
  border-radius: 0 15px 0 0;
}

/*BORDERS TABLE BOTTOM*/
.currency_table--container-comissions .table_bottom-left {
  border-radius: 0 0 0 15px;
}
.currency_table--container-comissions .table_bottom-right {
  border-radius: 0 0 15px 0;
}
/*UPDATE COMISSIONS DIV*/
.update-comissions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  border-radius: 8px;
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  background-color: rgb(161, 249, 252);
}
.update-comissions:hover {
  background-color: var(--SecondaryBlue);
}

/*-------------------------------MAIN SECTION BENEFIT--------------------*/
main .benefit {
  position: relative;
  margin: 0 auto;
  padding-top: 4rem;
  width: 100%;
  height: auto;
  background-color: var(--Warm-Black);
}
main .benefit .vector-icon {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 3rem);
  width: 6rem;
  height: 5rem;
  background-image: url("./assets/assets/icons/batata.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.benefit .main_title--benefit {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.benefit .main_title--benefit h2 {
  width: 90%;
  margin: 0 auto;
  line-height: 2.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--Just-White);
}
.benefit .main_title--benefit h2:hover {
  text-shadow: 0px 0px 8px white;
}

.benefit .main_title--benefit p {
  width: 100%;
  line-height: 1.6rem;
  margin: 2rem auto;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--Gray-Benefit);
}
/*MAIN BENEFITS BOXS SECTIONS (CARDS)*/
.benefit .benefit_box--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 270px;
  height: auto;
  padding: 0.2rem;
}
.benefit .benefit_box--container .benefit_box {
  position: relative;
  width: 90%;
  min-width: 28rem;
  max-width: 34rem;
  height: 16rem;
  margin: 0.9rem auto;
  margin-bottom: 4rem;
  padding: 1.5rem;
  background-color: var(--Black);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  cursor: pointer;
}
.benefit .benefit_box--container .benefit_box:hover {
  box-shadow: 0px 0px 5px var(--BitcoinOrange);
}
/*-----------ICONS OF CARDS--------*/
.benefit_box span {
  position: absolute;
  top: calc(0% + 1.5rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefit_box .icon-card-ONE {
  background-image: url("./assets/assets/icons/clock.svg");
}
.benefit_box .icon-card-TWO {
  background-image: url("./assets/assets/icons/eye.svg");
}
.benefit_box .icon-card-THREE {
  background-image: url("./assets/assets/icons/dollar-sign.svg");
}
.benefit_box .icon-card-FOUR {
  background-image: url("./assets/assets/icons/check-circle.svg");
}
/*TITLE OF CARDS*/
.benefit_box .title--cards {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--Just-White);
}
.benefit .benefit_box p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  color: var(--Gray-Benefit);
}
.benefit .benefit_box p:hover {
  color: white;
  transition: 1s;
}

/*----------BITCOIN SECTION IMAGE CONTAINER----------------*/
.bitcoin_img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/assets/img/bitcoinbaby2x.jpg");
}
/*BITCOIN SECTION IMAGE TITLE*/
.bitcoin_img-container h2 {
  margin-top: 3.6rem;
  text-align: center;
  width: 30rem;
  height: 2.6rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--Just-White);
}

/*PLANS SECTION CONTAINER*/
#plans-container {
  width: 100%;
  height: auto;
  background-color: var(--Off-White);
}
#plans-container h2 {
  margin: 2.4rem 1rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--Black);
}
#plans-container .subtitle-plans {
  text-align: center;
  margin: 0 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

/*CARD STYLES*/
.section_cards--plans {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.plans_card--container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
  width: 70%;
  max-width: 20rem;
  height: auto;
  border-radius: 8px;
  background-color: var(--Just-White);
  box-shadow: 0px 2px 5px rgb(177, 177, 177);
  cursor: pointer;
}
.plans_card--container:hover {
  box-shadow: 0px 0px 8px var(--BitcoinOrange);
}
.plans_card--container .plans-card--title {
  position: absolute;
  top: -2rem;
  left: calc(50% - 6rem);
  width: 12rem;
  height: 3.5rem;
  padding-top: 0.7rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--Just-White);
  background-color: var(--BitcoinOrange);
  border-radius: 8px;
}

.plans_card--container .title-price {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--Black);
}
.plans_card--container .price-card {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 6.5rem;
  font-size: 5.4rem;
  font-weight: bold;
  text-align: center;
}
.plans_card--container .price-card span {
  position: absolute;
  top: 1.1rem;
  left: calc(50% - 4.8rem);
  font-size: 1.4rem;
  color: #363636;
}
.plans_card--container .description-card {
  margin-top: 1rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--Gray-Benefit);
}
.plans_card--container .link-card {
  position: relative;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 80%;
  height: 4.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Black);
  text-decoration: none;
  border: 2px solid var(--BitcoinOrange);
  border-radius: 8px;
}
.plans_card--container .link-card:hover {
  background-color: var(--Black);
  color: var(--Just-White);
  padding: 1.1rem;
  border: none;
}

.plans_card--container .link-card span {
  position: absolute;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/assets/icons/orange-right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*FOOTER*/
footer {
  display: flex;
  width: 100%;
  height: 15rem;
  background-color: var(--BitcoinOrange);
}
/*FOOTER LEFT SECTION*/
footer .footer_left--section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15rem;
}
footer .footer_left--section .contact-container ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
}

.contact-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  list-style: none;
  margin: 0 0.6rem;
  padding-top: 0.3rem;
}
.contact-container ul li a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
}
.contact-container ul:hover a {
  filter: blur(0.2rem);
}
.contact-container ul li a:hover {
  filter: none;
  height: 5.5rem;
  width: 5rem;
  background: linear-gradient(white, var(--BitcoinOrange) 100%);
}
/* FOOTER RIGHT SECTION */

footer .footer_right--section {
  position: relative;
  width: 50%;
}
footer .footer_right--section span {
  position: absolute;
  left: calc(50% - 4.5rem);
  top: calc(50% - 4rem);
  width: 9rem;
  height: 8rem;
  background-image: url("./assets/assets/img/logo-footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
